$black: #333;
$white: #fff;
$yellow:rgba(248, 212, 66, 1);
$blackP : rgba(108, 108, 108, 1);
$BlackL: rgba(229, 229, 229, 1);
$grayL: rgba(205, 205, 205, 1);
$gray : rgba(229, 229, 229, 1);
$orange: rgba(254, 175, 0, 1);
$orange-dark: rgb(211, 146, 7);
$wheat: rgba(242, 234, 225, 1);
$mainbg: rgba(248, 248, 248, 1);
