@import 'root';
@import 'variables';
@import 'login';

.wrap {
    display: flex;
    justify-content: end;
}
.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000029;
    z-index: 4;
    display: none;
    opacity: 1;
    backdrop-filter: blur(2px);
}
main {
    width: calc(100% - 270px);
    background-color: $mainbg;
    height: 100vh;
    overflow: hidden;

    nav {
        background-color: $wheat;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        padding: 12px;
    }

    .nav_l {
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 20px;
            font-weight: bold;
            text-align: left;
            padding-left: 10px;
            border-left: 6px solid $orange;
            margin-left: 20px;
            transform: translate(0, -45px);
            cursor: pointer;
        }
    }

    .nav_left {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 50%;
        font-size: 15px;
        transform: rotate(0deg);
        cursor: pointer;

    }

    .nav_right {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 25px;
        margin-right: 20px;

        .search {
            width: 230px;
            background-color: $white;
            border-radius: 4px;
            padding: 9px 13px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
                all: unset;
                font-size: 14px;

                &::placeholder {
                    font-size: 12px;
                    color: $grayL;
                }
            }

            i {
                color: $grayL;
            }
        }
    }

    .list {
        padding: 0 30px;
        width: 100%;

        .list_top {
            display: flex;
            justify-content: space-between;
            padding: 12px 0;
            border-bottom: 1px solid $BlackL;
            align-items: center;

            h2 {
                font-size: 22px;
                color: $black;
            }

            .list_right {
                display: flex;
                justify-content: end;
                gap: 30px;
                align-items: center;

                #addBtn {
                    padding: 12px;
                    font-size: 14px;
                    color: $white;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    background-color: $orange;

                    &:hover {
                        background-color: $orange-dark;
                    }
                }

                .filter {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    // gap: -15px;
                    padding: 5px;

                    i:last-child {
                        margin-top: -7px;
                    }

                    &:hover i {
                        color: $orange;
                    }
                }
            }
        }

        .list_middle ul {
            display: grid;
            grid-template-columns: 7% 20% 29% 10.5% 16% 9% 1% ;
            align-items: center;
            width: 100%;
            padding: 20px 0;

            li {
                font-size: 12px;
                color: $blackP;
                flex: 1;
                min-width: 0;
                margin-right: 5px;
            }       
            li:first-child, li:last-child {
                color: transparent;
            }     
        }

        .list_main {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;


            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                font-size: 14px !important;
                cursor: pointer;
                background-color: $white;
                border-radius: 5px;
                margin-bottom: 10px;
                gap: 10px;
                position: relative;

                &:hover{
                    background-color: rgba(227, 227, 227, 0.464);
                }
            }

            li img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 0px;
                background-color: rgba(254, 174, 0, 0.205);
                font-size: 10px;
            }
    
            li div {
                flex: 1;
                min-width: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
            li div.name {
                max-width: 200px;
                font-weight: 500;

            }
    
            li div.email {
                max-width: 290px;
            }
    
            li div.phone {
                max-width: 85px;
            }
    
            li div.enroll {
                max-width: 160px;
            }
    
            li div.date {
                max-width: 100px;
            }
            li div.action{
                max-width: 50px;

                display: flex;
                justify-content: end;
                align-items: center;
                gap: 10px;
                
                button{
                    all: unset;
                    font-size: 17px;
                    color: $blackP;

                    &:hover{
                        color: $orange;
                    }
                }

            }
            

        }
    }
    .li_Overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 100%;
        opacity: 0;
        background-color: transparent;
        border-radius: 5px 0 0 5px;
    }

}

.left {
    width: 270px;
    background-color: $wheat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;

    .left_top {
        margin: 20px auto;
        width: 100%;

        .dash_h2 {
            width: 75%;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            border-left: 6px solid $orange;
            margin: auto;
        }
    }

    .left_main {
        margin: auto;
        width: 100%;

        .left_img {
            margin: auto;
            padding: 20px 0;
            text-align: center;

            img {
                border-radius: 50%;
                width: 100px;
                height: 100px;
            }
        }

        #adminName {
            font-size: 17px;
            font-weight: bold;
            text-align: center;
        }

        .adminStatus {
            text-align: center;
            color: $orange;
            font-size: 14px;
            margin-top: 7px;
        }

        .left_button {
            cursor: not-allowed;
            background-color: $orange;
            width: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
            margin: 65px auto;
            gap: 10px;
            border-radius: 4px;
        }

        .left_button:hover {
            background-color: $orange-dark;
        }

    }

    .left_bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        position: absolute;
        bottom: 20px;
        left: calc(50% - 50px);
        cursor: pointer;
    }
}
.add{
    position: fixed;
    top: 0;
    right: -100%;
    width: 500px;
    height: 100vh;
    background-color: $white;
    padding: 20px;
    z-index: 5;

    .add_h2{
        font-size: 22px;
        padding-left: 10px;
        border-left: 6px solid $orange;
        margin: 0 auto 50px;
    }
    #add_Close{
        position: absolute;
        top: 25px;
        right: 30px;
        cursor: pointer;
    }
    label {
        display: block;
        color: $blackP;
        width: 100%;
        margin: 6px auto;
        position: relative;
        font-size: 14px;
      
        input {
          display: block;
          width: 100%;
          padding: 12px;
          font-size: 14px;
          border-radius: 4px;
          outline: none;
          border: 1px solid $BlackL;
          margin: 11px auto 0;
          z-index: 2;
          position: relative;
      
          &::placeholder {
            color: $grayL ;
            font-size: 12px;
          }
          &:focus{
            border-color: $blackP;
          }
        }
        
      }
    button {
        width: 100%;
        padding: 12px;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 4px;
        border: 1px solid $orange;
        background-color: $orange;
        color: $white;
        margin: 5px auto 11px;
        position: relative;
        z-index: 2;
    }
}
.edit{
    position: fixed;
    top: 0;
    right: -100%;
    width: 500px;
    height: 100vh;
    background-color: $white;
    padding: 20px;
    z-index: 5;

    .add_h2{
        font-size: 22px;
        padding-left: 10px;
        border-left: 6px solid $orange;
        margin: 0 auto 50px;
    }
    
    label {
        display: block;
        color: $blackP;
        width: 100%;
        margin: 6px auto;
        position: relative;
        font-size: 14px;
      
        input {
          display: block;
          width: 100%;
          padding: 12px;
          font-size: 14px;
          border-radius: 4px;
          outline: none;
          border: 1px solid $BlackL;
          margin: 11px auto 0;
          z-index: 2;
          position: relative;
      
          &::placeholder {
            color: $grayL ;
            font-size: 12px;
          }
          &:focus{
            border-color: $blackP;
          }
        }
        
      }
    button {
        width: 100%;
        padding: 12px;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 4px;
        border: 1px solid $orange;
        background-color: $orange;
        color: $white;
        margin: 5px auto 11px;
        position: relative;
        z-index: 2;
    }
}

#add_Close, 
#edit_Close{
    position: absolute;
    top: 25px;
    right: 30px;
    cursor: pointer;
}

.profileBox{
    background-color: $white;
    max-width: 600px;
    padding: 28px 22px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
    padding-bottom: 100px;

    .img{
        width: 210px;
        height: 210px;
        background-color: $BlackL;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        

        img{
            width: 100%;
            height: 100%;
            
        }
    }
    .info{
        padding: 0 20px;
        width: calc(100% - 250px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 40px;

        div{
            span{
                display: block;
                font-size: 12px;
                color: rgba(172, 172, 172, 1);
            }
            p{
                font-size: 14px;
                color: $black;
                margin-bottom: 15px;

            }
        }
        
    }

}
.qandl{
    position: absolute;
    top: 15px;
    right: 15px;
}
.goBack{
    position: absolute;
    bottom: 20px;
    right: 20px;
    
    a{
        color: $black;
    }
    &:hover a{
        color: $orange-dark;
    }
}